/*-------------------------
------Universal Rules-------
--------------------------*/
audio {
    z-index: 999;
}

:root {
/*
    --color1: #00334A;
    --color2: #004666;
    --color3: #1A607F;
    --color4: #007BB2;
    --color5: #4691B2;
    --bg: #00334A;
    --dark: #00334A;
    --light: #4691B2;
*/
    --color1: black;
    --color2: rgb(0, 0, 0, .8);
    --color3: rgb(3, 60, 220, .9);
    --d1: 'Righteous';
    --d2: 'Alfa Slab One';
    --d3: 'Sigmar One';
    --d4: 'Bungee Inline';
    --d5: 'Spicy Rice';
    --d6: 'Lobster';
    --d7: 'Nosifer';
    --d8: 'Trade Winds';
    --p1: 'Josefin Slab';
    --p2: 'Faustina';
}


* {
    box-sizing: border-box;
}

a:focus, .slick:focus, .slick div:focus{outline: none;}

body{
    margin:0;
    padding: 0;
    width:100%;
/*    background-color: #00334A;*/
    color: aliceblue;
    font-family: var(--d8);
    background-image: url(images/bg-bourbon.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header{
    color: gold;
}

h1,h2, nav ul {color:gold !important;}

section h2 {
    font-size: 32px;
    margin-top: 0px;
    color: gold;
}

ol, ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

i {
    font-size:32px;
    
}

.flex{
    display: flex;
    align-items:center;
    justify-content: center;
}

.flex-wrap {
    display: flex;
}

/*--------------------------
---------HEADER-------------
--------------------------*/


#header-bar {
    z-index: 202;
    min-height: 50px;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    text-shadow: 5px 2px 15px black;
    transition: 0.2s all;
    margin: 0 auto;
    align-items: baseline;
}

#header-bar a:hover {
    color: black;
    text-shadow: 5px 2px 15px aliceblue;
    transition: 0.2s all;
}

header .c1{
    order: 2;
    flex: 1 1 0%;
    text-align: center;
    z-index: 300;
    line-height: 2.0;
}

header .c2{
    order: 3;
    flex: 1 1 0%;
    text-align: right;
    margin-right: 10px;
}

header .c3{
    order: 1;
    flex: 1 1 0%;
    text-align: left;
    margin-left: 10px;
}

#social-bar li{
    margin: 0 10px;
    font-size: 32px;
}

#social-bar {
    position: relative;
    left: 20%;
}

#social-bar li:last-child{
    
}

.c1 h2 {
    font-size: 28px;
    z-index: 204;
}

#subscribe-icon {
    font-size: 28px;
}

/*---------------------------
-----------Navbar------------
----------------------------*/
#navbar {
    z-index: 219;
}
nav ul{
    z-index: 201;
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    color:aliceblue;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
}

nav li {
    margin:0;
    border-right: 1px solid #bbb;
    transition: 0.5 all;
}
nav li:last-child{
    border-right: none;
}

nav li a{
    display: block;
    padding: 20px 28px;
    color: inherit;
    transition: .2s all;
    width: 100%;
    height: 100%;
}

nav a:hover{
    background-color: darkgoldenrod;
    transition: 0.3 all;
}

/*-------------------------
------HEAD/NAV Dynamics---*/
.sticky {
    position: fixed;
    z-index: 200;
}

nav {
    transition: .2s linear all;
}

nav.sticky {
    top: 85px;
    width: 100%;
    transition: .2s linear all;
}

.sticky + #main-content {
    padding-top: 150px;
}

#main-content {
    transition: .2s all;
}


.header-shrink {
    z-index: 500;
    transition: linear .3s all;
    background-color: var(--color1);
    padding: 20px;
}

.header-shrink .c1 h2{
    font-size: 24px;
    transition: .3s all;
}

.header-shrink .c2 i{
    font-size: 25px;
    transition: .3s all;
}

.header-shrink .c3 h2{
    font-size: 18px;
    transition: .3s all;
}

.nav-shrink ul{
    padding: 0;
    
}

.nav-shrink > ul > li > a{
    padding: 10px 25px;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
}


nav a.active {
/*    background-color: black;*/
}

.active {
    background-color: gold;
    color: black;
}


/*--------------------------------------------
----------------HERO------------------------
------------------------------------------*/

#hero {
    height: 93vh; /* vh is percent of viewport */
    width: 100%;
    background-image:url(images/ElectricThunderSpread_hero.png);
/*    background-image:url(images/012221-07717.jpg);*/
    background-size: cover;
    background-position: top center;
    position: relative;
}

/*
#hero .overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: purple;
    opacity: .9;
}
*/

@keyframes bg-color{
    from{background-color: darkblue;}
    to{background-color: darkgoldenrod;}
}

.hero-bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    animation-name: bg-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

 .layer-2 {
    z-index: 2;
    height: inherit;
    background-image:url(images/BandSpread1_NoBG.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: 93vh;
    mix-blend-mode: difference;
    background-image:url(images/012221-07717.jpg);
}

 .layer-3 {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: absolute;
     top: 0;
/*    bottom: 93vh;*/
/*    top: 0;*/
    background-image:url(images/012221-07717.jpg);
     mix-blend-mode: difference;
     background-color: blue;
}

/*
.scene {
    transform: translateY(var(--translateY));
    will-change: transform;
}
*/

.down-arrow {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    z-index: 205;
}


i#down-arrow.fas.fa-angle-double-down {
    display: block;
    bottom: 0%;
}

.down-arrow i{
    display: block;
    font-size: 56px;
    color: gold;
    opacity: .7;
    text-shadow: 1px 5px 2px black;
    transition: 0.3s all;
}

i#down-arrow.fas.fa-angle-double-down:hover {
    color: black;
    text-shadow: 1px 2px 8px aliceblue;
    transition: 0.3s all;
}

#hero h1{
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 10px black;
    display: none;
}

@keyframes glow {
    from {opacity: 0.9}
    to {opacity: 0.7}
}

.container {
    background-color: rgba(0, 70, 102, 0.7);
    background-color: var(--color2);
    max-width:75%;
    padding: 40px;
    margin: 10vh auto;
    border-radius: 10px;
}

.hero-email {
    text-align: center;
    width: 100%;
    z-index: 55;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
}
.hero-email #mc_embed_signup {
    
    width: 500px;
    background-color: var(--color1);
    overflow: hidden; 
    
}

#mc-embedded-subscribe.button.b2 {
    background-color: aliceblue;
    color: black;
    margin: 20px 0px;
}

#mc-embedded-subscribe.button.b2:hover {
    color: aliceblue;
}

#mce-responses {
    font-family: 'Open Sans';
}

div.response#mce-success-response {
    color: aliceblue !important;
    width: 100%;
    text-align: center;
}

div.response#mce-error-response {
    width: 100%;
    text-align: center;
}

/*----Body Rules---*/
section h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
}


/*----------------------------
--------MUSIC SECTION---------
------------------------------*/

.meta{
    text-align: center;
    line-height: 2;
}

.album-info{
    width: 100%;
    font-size: 28px;
    text-align: left;
    margin: : 0;
}

.meta h2{font-size: 24px; text-decoration: underline;}

.links{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.links i{
    font-size: 48px;
}

.links a{
    margin: 20px 20px;
    text-align: center;
}

.music-btn{
    transition: .2s all linear;
}

.music-btn:hover{
    transition: .2s all linear;
    color: goldenrod;
/*    text-shadow: 1px 1px 5px aliceblue;*/
}

.album-art {
/*    display: inline-flex;*/
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
/*    margin: 30px;*/
/*    border: ridge 2px gray;*/
    box-shadow: 3px 4px 10px black;
}

#Music {
    text-align: center;
    height: 100%;
    width: 100%;
}

.slick{
    
}

.grid{
    display: grid;
    grid-template-columns: 10% auto auto 10%;
}

#IllFlyAway {
    background-image:url(images/1000x1000bb.webp);
}

#ICanLive {
    background-image: url(images/AlbumArt_ICanLive.jpg);
}

#DecentHeartedMan {
    background-image: url(images/AlbumArt_DecentHeartedMan.webp);
}

.card {
    box-shadow: 2px 4px 15px 0 black;
    padding: 10px;
    margin: 20px 20px;
    text-align: center;
}

.link-bar {
    position: relative;
    right: 20px;
    align-items: center;
}

.link-bar li{
    margin: 10px 10px;
    flex: auto;
    display: inline-block;
    text-align: justify;
}

.link-bar li{
    display:inline-block;
    text-align: center;
}

.link-bar i {
    font-size: 40px;
}

.link-bar a {
    text-shadow: 5px 2px 15px black;
    transition: 0.2s all;
}

.link-bar a:hover {
    color: black;
    text-shadow: 5px 2px 15px aliceblue;
    transition: 0.2s all;
}


/*---------------------------
--------LIVE SECTION---------
-----------------------------*/

#Live h2{
    text-align: center;
}
/*#live-section{height: auto;}*/

/*
.bandsintown-widget {
    height: 50vh;
}
*/

a.bit-button.bit-track-button.bit-offers {
    margin-top: 40px;
    box-shadow: 3px 2px 15px 1px black;
    transition: .3s all;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    padding: 10px 5px;
    line-height: 1;
    letter-spacing: 0px;
    border-radius: 5px;
    font-family: 'Knewave';
    width: 150px;
    text-transform: none;
    
}

a.bit-button {
    box-shadow: 0px 5px 5px black;
    background-color: aliceblue;
    transition: .2s all;
    fill: black;
}

a.bit-button.bit-track-button.bit-offers:hover {
    background-color: black;
    color: aliceblue;
    box-shadow: 3px 2px 15px aliceblue;
    transition: .3s all;
}

a.bit-offers.bit-button{background-color: darkgoldenrod;border: 1px solid darkgoldenrod;
font-family: var(--d8);
font-weight: 500 !important;
letter-spacing: 1px;
}

a.bit-rsvp.bit-button{
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    font-family: var(--d8);
    font-weight: 500 !important;
    letter-spacing: 1px;
}

a.bit-play-my-city-button{
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod !important;
    font-family: var(--d8);
    font-weight: 500 !important;
    letter-spacing: 1px;
    background-color: darkgoldenrod !important;
}
a.bit-details{
    font-family: var(--p1);
    font-weight: 700;
    font-size: 18px;
}

.bit-widget .bit-venue{
    color: gold !important;
}

a.bit-play-my-city-button:hover, a.bit-rsvp.bit-button:hover, a.bit-offers.bit-button:hover{
    letter-spacing: 2px;
    background-color: goldenrod !important;
    color: black;
    transition: .2s linear all;
}

/*---------------------------
---------ABOUT SECTION-------
-----------------------------*/
#About h2 {
    text-align: center;
    
}

#About p {
    font-family: var(--p1);
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
}

.profile-pic {
    display: inline-block;
    background-image: url(images/012221-07663.jpg);
    background-size: cover;
    background-position: top center;
    height: 50vh;
    width: 40vh;
    float: left;
    margin-right: 32px;    
}

#About {
    min-height: 500px;
}

/*----------------------------
---------VIDEO SECTION--------
-----------------------------*/

#Video h2{
    text-align: center;
}

.youtube-player{
    width: 100%;
    height: 100vh;
}

#main-content {
    padding: 20px 0px;
    margin: 0 0;
/*    background-color: rgba(0, 51, 74, 0.5);*/
    background-color: rgb(3, 60, 220, 0.3);
}

/*---------CONTACT SECTION------------------
-------------------------------------------
-------------------------------------------*/

#Contact {
    text-align: center;
}

.fas.fa-envelope {
    margin-right: 5%;
}

.email a{
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    transition: .3s all;
}

.email a:hover {
    color: goldenrod;
    text-shadow: 1px 1px 15px white;
    transition: .3s all;
}



/*----------------------------------------
----------------LIGHTBOX------------------
------------------------------------------*/
#close-btn {
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.modal-logo {
    font-family: theZains;
    text-align: center;
    font-size: 28px;
    margin: 0 0;
    position: relative;
    left: 0;
    top: 0px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 10px black;
}

.artist-logo {
    background-image: url(images/ArtistLogo_NoText.png);
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px;
    position: relative;
    left: 0px;
    text-align: center;
    margin: 0 auto;
}

#myBtn:hover,
#myBtn:focus {
    cursor: pointer;   
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 7% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  background-color: #00334A;
  width: 50%; /* Could be more or less, depending on screen size */
}

#mc_embed_signup{
    z-index: 51;
    background:#00334A; 
}

/* The Close Button */
 .close {
  z-index: 55;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin: 2%;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signup-caption {
    padding: 0% 3%;
    margin: 0px;
}

.signup-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: relative;
    left: 0;
    margin-bottom: 20px;
}

div.clear {
    text-align: right;
}

#mc-embedded-subscribe.button{
    background-color: #1A607F;
    font-family: 'Knewave', cursive;
    transform: scale(1.5);
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
    box-shadow: 0px 2px 15px black;
}

#mc-embedded-subscribe.button:hover {
    background-color: black;
    box-shadow: 0px 2px 15px aliceblue;
}

/*---------------------------------
-------------FOOTER----------------
---------------------------------*/

footer {
    height: 10vh;
    background-color: black;
    padding: 20px 0px;
}

footer span{
    margin-left: 40px;
}


/*----------------------------------
----------Loader Screen-------------
-----------------------------------*/

.loader-bg {
    z-index: 10000;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
}

.loader {
    z-index: 100000;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1A607F;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    text-align: center;
    top: 40%;
    left: 47%;
    background-color: black;
    box-shadow: 5px 5px 30px #4691B2;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.loader-caption {
    font-family: 'theZains';
    text-align: center;
    font-size: 42px;
    position: fixed;
    top: 25%;
    left: 46%;
    text-shadow: 5px 5px 30px #4691B2;
}


/*----------------------------------------
--------------Media Quieries---------------*/
@media screen and (max-width: 700px) {
    body {
        width: 100%;
        overflow-x: hidden !important;
        margin: 0 0;
    }
    
    #header-bar {
        padding: 0px;
        margin: 0px 0px;
        width: 100%;
    }
    
    nav.sticky {
       top: 80px; 
    }
    
    .navbar {
        display: block;
    }
    
    .youtube-player {
        height: 30vh;
    }
    .container {
        max-width: 100%;
    }
    .c1 h2{
        font-size: 18px;
    }
    
    .c3 h2{
        font-size: 15px;
    }
    
    #social-bar i{
        font-size: 24px;
    }
    
    #social-bar {
        position: relative;
        left: 0;
    }
    
    .down-arrow{
        width: 100%;
    }
    
    .hero-email {
        width: 100%;
    }
    
    .site-wrapper {
        width: 100%;
        margin: 0;
    }
    .email a{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .profile-pic {
        width: 100%;
    }
    
    .card {
        width: 100%;
    }
    
    .album-art {
        width: 200px;
        height: 200px;
    }
    
    nav ul {
        overflow: visible;
    }
    
    #navbar {
        width: 100%;
    }
    
    .header-shrink .c1 h2{
    font-size: 16px;
    }

    .c1 h2 {
       margin-left: 10%; 
    }
    
    .header-shrink .c3 h2{
    font-size: 13px;
    }
    
    .header-shrink .c3 i{
        font-size: 5px;
    }
    
    #navbar > ul > li a{
        width: 100%;
        height: 100%;
        padding: 15px;
        font-size: 80%;
    }
    
    .nav-shrink > ul > li > a{
    padding: 10px 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
}
    .nav-shrink > ul > li{
    font-size:     
    }
    
    #header-bar {
        padding: 0px !important;
    }
    
    div.c3 h2 i{
        font-size: 18px !important;
    }
    
        #social-bar > li {
        margin: 7%;
    }
    
    #social-bar {
        margin-right: 10%;
    }
    .email i {
        font-size: 100%;
    }

}
@media screen and (max-width: 400px){
    #navbar > ul > li a{
        padding: 15px 8px;
        font-size: 80%;
    }
    
    #About p{
        font-size: 16px;
    }
}

@media screen and (max-width: 375px){
    .c1 > h2 > a{
        font-size: 14px;
    }
    
    #social-bar > li {
        margin: 5%;
    }
    
    .nav-shrink > ul > li > a {
        padding: 10px 8px!important;
    }
}

@media screen and (max-width: 335px){
    #Contact ul{
        text-align: left !important;
        
    }
    #Contact ul li a{
        font-size: 80%;
    }
}




